<template name="AdminPost">
	<div class="container">
		<div class="medium-12 column">
			<h3>Update Post</h3>
			<div class="form-box">
				<form class="update-post">
					<h4>Title</h4>
					<input type="text" name="title" value="{{title}}" placeholder="Title" />
						<small class="form-error">{{errorMessage 'title'}}</small>

					<h4>Url</h4>
					<input type="text" name="url" value="{{url}}" placeholder="Url" />
						<small class="form-error">{{errorMessage 'url'}}</small>

					<h4>Content</h4>
					<textarea name="content" placeholder="Content">{{content}}</textarea>
						<small class="form-error">{{errorMessage 'content'}}</small>
					
					{{#each postFields}}
						{{> AdminPostFields}}
					{{/each}}

					<h4>Options</h4>

					<input type="checkbox" name="updateUrl" /> Update Url
					<input type="checkbox" name="activated" checked="{{activated}}" /> Active Post
					
					<div class="form-buttons">
						<button type="submit" class="pull-right">Update Post</button>
						{{#if deletedAt}}
							<button class="restore">Restore</button>
						{{else}}
							<button class="delete">Delete</button>
						{{/if}}
					</div>

				</form>
			</div>
		</div>
	</div>

	<hr>

	<div class="container">
		<div class="medium-3 column title"><h4>Title</h4></div>
		<div class="medium-3 column"><h4>Content</h4></div>
		<div class="medium-3 column"><h4>Page Type</h4></div>
		<div class="medium-3 column"><h4>Url</h4></div>
	</div>
	<div class="container record">
		<div class="medium-3 column title">{{title}}</div>
		<div class="medium-3 column">{{content}}</div>
		<div class="medium-3 column">{{type}}</div>
		<div class="medium-3 column">{{url}}</div>
	</div>

	<br><br><br>
	<div class="container">
		<div class="medium-12 column">
			<h3>Revisions</h3>
		</div>
	</div>
	
	{{#each revisions}}
		<div class="container">
			<div class="medium-12 column">
				{{revision}}
			</div>
		</div>
	{{/each}}
</template>