<template name="Main">
	<div class="cms">	
		<header class="main-header">
			<nav>
				<ul>
					<li class="has-children">
						<a href="/services" class="first-level">Services</a>
						<ul>
							{{#each posts}}
								{{> PrettyPostList}}
							{{/each}}
						</ul>
					</li>
					{{#if currentUser}}
						<li><a href="{{pathFor 'dashboard'}}">Admin</a></li>
						<li><a href="#" class="logout">Logout</a></li>
					{{else}}
						<li><a href="{{pathFor 'login'}}">Login</a></li>
					{{/if}}
				</ul>
			</nav>
		</header>

		<div class="error-container {{typeOfError}}">
			<div class="container">
				{{> Errors}}
			</div>
		</div>

		<div class="container main-container">
			{{> yield}}
		</div>
	</div>
</template>