<template name="Main">
	<header class="main-header">
		<nav>
			<ul>
				<li><a href="/">CMS</a></li>
				{{#if currentUser}}
					<li><a href="{{pathFor 'dashboard'}}">Admin</a></li>
				{{/if}}
				<li class="has-children">
					Pages
					<ul>
						{{#each pages}}
							{{> PrettyPageList}}
						{{/each}}
					</ul>
				</li>
				{{#if currentUser}}
					<li><a href="#" class="logout">Logout</a></li>
				{{else}}
					<li><a href="{{pathFor 'login'}}">Login</a></li>
				{{/if}}
			</ul>
		</nav>
	</header>

	<div class="error-container {{typeOfError}}">
		<div class="container">
			{{> Errors}}
		</div>
	</div>

	<div class="container main-container">
		{{> yield}}
	</div>
</template>