<template name="Customer">
	<div class="container">
		<div class="medium-12 column">
			<h3>Update Customer</h3>
			<div class="form-box">
				<form class="update-customer">
					<input type="text" name="firstName" value="{{firstName}}" placeholder="First Name" />
						<small class="form-error">{{errorMessage 'firstName'}}</small>
					<input type="text" name="lastName" value="{{lastName}}" placeholder="Last Name" />
						<small class="form-error">{{errorMessage 'lastName'}}</small>
					<input type="text" name="phoneNumber" value="{{phoneNumber}}" placeholder="Phone Number" />
						<small class="form-error">{{errorMessage 'phoneNumber'}}</small>
					
					<div class="form-buttons">
						<button type="submit" class="pull-right">Update Customer</button>
						<button class="delete">Delete</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="container record">
		<div class="medium-2 column">{{_id}}</div>
		<div class="medium-2 column">{{firstName}}</div>
		<div class="medium-2 column">{{lastName}}</div>
		<div class="medium-2 column">{{phoneNumber}}</div>
		<div class="medium-2 column">{{formatTime createdAt}}</div>
		<div class="medium-2 column">{{formatTime updatedAt}}</div>
	</div>
</template>