<template name="Customers">
	<div class="container">
		<div class="medium-12 column">
			<h3>Create Customer</h3>
			<form class="new-customer">
				<div class="form-box">
					<input type="text" name="firstName" placeholder="First Name" />
						<small class="form-error">{{errorMessage 'firstName'}}</small>
					<input type="text" name="lastName" placeholder="Last Name" />
						<small class="form-error">{{errorMessage 'lastName'}}</small>
					<input type="text" name="phoneNumber" placeholder="Phone Number" />
						<small class="form-error">{{errorMessage 'phoneNumber'}}</small>
					
					<div class="form-buttons">
						<button type="submit" class="pull-right">Create Customer</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="container">
		{{#each customers}}
			{{> CustomerList}}
		{{/each}}
	</div>
</template>