<template name="Dashboard">
	<div class="dashboard">
		<ul>
			<li><a href="{{pathFor 'admin-page'}}">Manage Pages</a></li>
			{{#if currentUser.profile.developer}}
				<li><a href="{{pathFor 'admin-fields'}}">Manage Fields</a></li>
			{{/if}}
			<li><a href="{{pathFor 'customers'}}">Manage Customers</a></li>
			<li><a href="{{pathFor 'register'}}">Create Accounts</a></li>
		</ul>
	</div>

	<div class="container">
		<h4>Pages: {{pageCount}}</h4>
		<h4>Active Pages: {{activePageCount}}</h4>
		<h4>Posts: {{postCount}}</h4>
		<h4>Active Posts: {{activePostCount}}</h4>
		<h4>Fields: {{fieldCount}}</h4>
		<h4>Users: {{userCount}}</h4>
	</div>

</template>