@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic,700|Raleway:300,400,500,700,800);

$lato: 'Lato', sans-serif;
$raleway: 'Raleway', sans-serif;

$theme: #008CBA;
$theme_dark: darken($theme, 10%);

// white / black
$white: #fff;
$barelynotwhite: #f2f2f2;
$black: #636466;
$dark_black: darken($black, 10%);

// grey
$lightestgrey: #e8ebee;
$lightgrey: #E8EBED;
$mediumgrey: #c3c3c3;
$darkgrey: #a3a3a3;

$red: #ed1c26;
$success: #28c617;

$medium: 40.063em;
$portrait_lower: 768px;
$portrait_upper: 1023px;
$medium_large: 45em;
$small_upper: 640px;