<template name="PostExample">
	<h3>This is an example template</h3>

	<p>This template is located at templates/posts/posts.html</p>

	<p>The router checks the post's data type (i.e., the slug of its parent page).  In this case, the data type of this post is "example".</p>

	<p>/example/example-post <strong>==</strong> /page/post <strong>==</strong> /post-type/post-slug</p>

	<p>The router says if data.type == 'example', render "Example" template, else render default "Post" template</p>

	<h3>This is an example of the string field</h3>

	{{renderField fields.examplefield}}

	<h3>This is an example of the repeater field</h3>
	
	<ul>
		{{#each fields.examplerepeater.value}}
			<li>{{value}}</li>
		{{/each}}
	</ul>


	<h3>Post Details</h3>
	
	<div class="container">
		<div class="medium-3 column">{{title}}</div>
		<div class="medium-3 column">{{formatTime createdAt}}</div>
		<div class="medium-3 column">{{formatTime updatedAt}}</div>
		<div class="medium-3 column">{{author}}</div>
	</div>

	<h3>Post Content</h3>
	
	{{{content}}}
	
</template>