<template name="AdminFields">
	<div class="admin-tabs">
		<ul>
			<li class="button show-field-records active">Fields</li>
			<li class="button show-field-creation pull-right">Create Field</li>
		</ul>
	</div>

	<div class="field-creation-form">
		<div class="container">
			<div class="medium-12 column">
				<h3>Create Field</h3>

				{{#if types}}
					<form class="new-field">
						<div class="form-box">

							<h4>Field Name</h4>
							<input type="text" name="fieldName" placeholder="Field Name" />
								<small class="form-error">{{errorMessage 'fieldName'}}</small>

							<h4>Slug</h4>
							<div class="new-field-url"></div>

							<h4>Field Type</h4>
							<select name="fieldType">
								<option value="String">String</option>
								<option value="Number">Number</option>
								<option value="Textarea">Textarea</option>
								<option value="HTML">HTML</option>
								<option value="Repeater">Repeater</option>
							</select>
							<small class="form-error">{{errorMessage 'type'}}</small>

							<h4>Page Type</h4>
							<select name="pageType">
								{{#each types}}
									<option value="{{url}}">{{type}}</option>
								{{/each}}
							</select>
							<small class="form-error">{{errorMessage 'pageType'}}</small>

							<h4>Location</h4>
							<select name="location">
								<option value="post">Post</option>
								<option value="page">Page</option>
							</select>
							<small class="form-error">{{errorMessage 'location'}}</small>
							
							<div class="form-buttons">
								<button type="submit" class="pull-right">Create Field</button>
							</div>
						</div>
					</form>
				{{else}}
					<h3 class="capitalize text-center">You need to create a page type before creating a field</h3>
				{{/if}}
			</div>
		</div>
	</div>


	<div class="field-creation-records active">
		<div class="container">
			<div class="container">
				<div class="medium-3 column"><h4>Name</h4></div>
				<div class="medium-2 column"><h4>Type</h4></div>
				<div class="medium-3 column"><h4>Slug</h4></div>
				<div class="medium-2 column"><h4>Page Type</h4></div>
			</div>

			{{#each fields}}
				{{> AdminFieldList}}
			{{/each}}
		</div>
	</div>

</template>