.admin {
	.repeater-group {
		@extend .clearfix;
		
		.repeater-field {
			position: relative;

			.repeater-remove {
				position: absolute;
				right: 10px;
				top: 10px;
				cursor: pointer;
			}

		}
	}
}