<template name="Register">
	<div class="container">
		<div class="medium-12 column">
			<h3>Create User</h3>
			<form class="register-form">
				<div class="form-box">
					<input type="email" id="account-email" placeholder="Email" />
					<input type="password" id="account-password" placeholder="Password" />
					
					<div class="form-buttons">
						<button type="submit" id="create-account" class="pull-right">Create Account</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	{{> Users}}
</template>