<template name="Users">
	<div class="container">
		<div class="medium-4 column"><h4>Email</h4></div>
		<div class="medium-4 column"><h4>Created At</h4></div>
		<div class="medium-4 column"><h4>Role</h4></div>
	</div>
	{{#each users}}
		{{> User}}
	{{/each}}
</template>

<template name="User">
	<div class="container record">
		<div class="medium-4 column">
			{{#each emails}}
				{{address}}
			{{/each}}
		</div>
		<div class="medium-4 column">{{created}}</div>
		<div class="medium-4 column">{{role}}</div>
	</div>

</template>